body {
    background: black;
}

#screen {
    position: relative;
}

.tile {
    width: 128px;
    height: 128px;
    position: absolute;
    background: #aaa;
    background: url(gfx/2dpixx_dungeon.png);
}

.tile-wall {
    background-position: -512px -256px;
}

.tile-floor {
    background-position: -640px -256px;
    opacity: 0.4;
}

.tile-black {
    background: #666;
}

.tile-door {
    background-position: -512px -128px;
    /* background-position: -128px -0px; */
}

.tile-gzyms {
    background-position: -128px -640px;
}

#stalagmite {
    width: 100px;
    height: 184px;
    background: url(gfx/stalagmite.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index:1;
    transform: translate(-50%, -100%);
    /* background-color: #f006; */
}

.bullet {
    width: 31px;
    height: 31px;
    background: url(gfx/bullet.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-15px, -15px);
    z-index: 20;
    position: absolute;
}